<%- layout('layouts/boilerplate.ejs') %>
<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add new campground</a>
<ul>
    <% for(let campground of campgrounds){%>
        <li><a href="/campgrounds/<%=campground.id%>"><%=campground.title%></a></li>
    <%}%>
</ul>