<%- layout('layouts/boilerplate.ejs') %>
<a href="/campgrounds/index">Home</a>
<form action="/campgrounds" method="POST">
    <label for="title">Camp name</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="location">location</label><br>
    <input type="text" id="location" name="location"><br><br>
    <input type="submit" value="Submit">
</form>
    